# Pandas 108
This notebook contains 108 questions to practise your skills in data cleaning, merging, manipulation and visualization.!

Link for downloading the data files - https://github.com/Deepali-Srivastava/Pandas-Cheat-Sheet-for-Data-Analysis

Questions 1-49 are based on the Amazon Book Dataset. 
Questions 50-108 use artificial data on educational website, structured across six tables: 
Users, Courses, Ratings, Payments, Enrollments, and Refunds !

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta

In [3]:
df = pd.read_csv('Amazon_BooksDataset.csv')

**1. Get the names of all the columns**

**2. Display the first 3 rows**

**3. Display 4 random rows from the dataframe**

**4. What is the total number of rows in the dataset?**

**5. Rename 'Ratings' column to 'Average Rating'**

**6. Check if there are any duplicate rows**

**7. Remove any duplicate rows**

**8. Remove rows where 'Average Rating' and 'Total Ratings' are missing**

**9. Check the datatype of all the columns**

**10. Remove comma from values in Price column and change the type to float64**

**11. Remove comma from values in Total Ratings column and change the type to int64**

**12. Check how many missing values are there in all columns**

**13. Replace missing values in Author column with 'Unknown'**

**14. Replace missing values in Language column with the most occuring langauge**

**15. Replace missing values in Pages column with median and convert data of Pages column type to int64**

**16. Fill missing values for price with the median price of the same category**

**17. How many unique authors are listed?**

**18. What are the top 5 most expensive books?**

**19. What are the 5 shortest books (based on the number of pages)?**

**20. What is the average number of pages across all books?**

**21. Display the summary statistics for numeric columns**

**22. Find the unique values and their counts for the column 'Category', sort by category names**

**23. What are the top 5 languages with the most books listed?**

**24. What percentage of books have ratings greater than or equal to 4 stars?**

**25. What is the average price of books and average number of pages across different languages?**

**26. What is the average and maximum price of books, along with the average number of pages, across different languages?**

**27. How do the average price and average number of pages differ across various languages and categories**

**28. Extract the data for the 'English' language from the previously grouped DataFrame.**

**29. Extract the data for the combination of 'English' language and 'Finance' category from the previously grouped DataFrame.**

**30. Which price range has the most number of books?**

**31. How many books have received more than 1000 ratings?**

**32. Which book(s) has the highest rating?**

**33. What is the average rating across different languages?**

**34. Which authors have the highest average book ratings?**

**35. Display the longest book(max pages) written by each author.  Sort the result by Pages in descending order**

**36. Display the total number of ratings received by each author.**

**37. Find top 5 and bottom 5 authors based on total number of ratings received**

**38. Find the top 10 books with the highest number of total ratings.**

**39. Explore how many books exist in each category and language combination.**

**40 Identify the longest and shortest books by pages within each category.**

**41. Plot a boxplot of the "Pages" column**

**42. Plot a boxplot of the "Price" column**

**43. Use the following function to remove outliers from Price and Pages column. Find the number of rows removed and plot boxplots for Price and Pages after removing the oultiers**

In [1]:
def remove_outliers(df, column, multiplier=1.5):
    # Calculate Q1 (25th percentile) and Q3 (75th percentile) of the column
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)

    # Calculate IQR
    IQR = Q3 - Q1

    # Define the lower and upper bounds for outliers
    lower_bound = Q1 - multiplier * IQR
    upper_bound = Q3 + multiplier * IQR

    # Remove outliers by filtering the column within the bounds
    df_cleaned = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

    return df_cleaned

**44. Compare the distribution of book prices across different categories using box plots.**

**45. Explore how the average rating varies across different languages using a bar plot**

**46. Analyze the correlation between numerical variables such as Price, Pages, Average Rating, Total Ratings, etc.**

**47. Visualize the correlation between book price and number of pages.**

**48. Plot a histogram for the distribution of ratings**

**49. Draw a line plot to show average price for each rating level**

# Educational Website

In [113]:
# Read all CSV files into DataFrames
users_df = pd.read_csv("users.csv",parse_dates=['date_of_birth','registration_date'], dayfirst=True)
courses_df = pd.read_csv("courses.csv",parse_dates=['created_on','last_updated_on'], dayfirst=True)
ratings_df = pd.read_csv("ratings.csv",parse_dates=['first_reviewed_on','last_updated_on'], dayfirst=True)
enrollments_df = pd.read_csv("enrollments.csv",parse_dates=['enrollment_date'], dayfirst=True)
payments_df = pd.read_csv("payments.csv",parse_dates=['transaction_date'], dayfirst=True)
refunds_df = pd.read_csv("refunds.csv",parse_dates=['refund_date'], dayfirst=True)

In [114]:
print("Users DataFrame columns:", users_df.columns.tolist(), "\n")
print("Courses DataFrame columns:", courses_df.columns.tolist(), "\n")
print("Ratings DataFrame columns:", ratings_df.columns.tolist(), "\n")
print("Enrollments DataFrame columns:", enrollments_df.columns.tolist(), "\n")
print("Payments DataFrame columns:", payments_df.columns.tolist(), "\n")
print("Refunds DataFrame columns:", refunds_df.columns.tolist(), "\n")

Users DataFrame columns: ['user_id', 'name', 'date_of_birth', 'email', 'gender', 'category', 'registration_date', 'country', 'last_login_date', 'user_type']

Courses DataFrame columns: ['course_id', 'title', 'category', 'language', 'subtitles', 'price', 'instructor_id', 'length', 'difficulty_level', 'created_on', 'last_updated_on', 'number_of_videos', 'number_of_quizzes', 'view_count', 'average_watch_duration', 'certification_available', 'completion_rate', 'bookmark_count']

Ratings DataFrame columns: ['review_id', 'course_id', 'student_id', 'rating', 'review_text', 'first_reviewed_on', 'last_updated_on', 'helpful_count', 'reported_count']

Enrollments DataFrame columns: ['enrollment_id', 'student_id', 'course_id', 'enrollment_date']

Payments DataFrame columns: ['payment_id', 'enrollment_id', 'discount_percent', 'amount_paid', 'coupon_code', 'payment_method', 'transaction_date', 'transaction_id', 'payment_status']

Refunds DataFrame columns: ['refund_id', 'enrollment_id', 'refund_date', 'refund_reason', 'refund_amount']

**50. How many courses are free and how many courses have a price associated with them?**

**51. How many courses is each instructor teaching on the platform?**

**52. Which courses are the most popular based on the number of bookmarks?**

**53. How many users are registered in each user category (e.g., Working, Student, Homemaker, Retired)?**

**54. What is the male-to-female ratio among the users?**

**55. Which courses have the worst completion rates?**

**56. What is the most common rating given by students?**

**57. How many unique users are enrolled in at least one course?**

**58. How many users are enrolled in multiple courses?**

**59. Which 5 courses have the most enrollments?**

**60. Find the total revenue generated from successful payments.**

**61. What is the average discount percentage applied across all discounted payments?**

**62. Find top 3 countries with the highest number of students**

**63. What is the most common reasons for refunds?**

**64. Add an age column to the users table and then calculate average age of the students on the website**

**65. Find average age of the students in each course**

**66. Find average age of the students in each course category**

**67. Calculate the average age of users for each user category (e.g., Working, Student, Homemaker, Retired)**

**68. Plot the age distribution of all the users**

**69. Plot the gender distribution to understand the gender breakdown of users**

**70. Plot the geographic distribution of users (based on country)**

**71. Show how the age distribution varies for different user types.**

**72. Find the top 5 most popular courses based on view counts**

**73. Find the top 2 popular courses in each category based on view counts**

**74. What is the average course duration per category.**

**75. Find the top 5 highest revenue generating courses**

**76. What is the average transaction amount for each payment method.**

**77. Calulate the average rating for each course and add a column average_rating in courses_df**

**78. Find 2 top rated courses in each course category**

**79. Display the average rating of each course category**

**80. Calculate the average rating for each instructor.**

**81. Display courses with no ratings**

**82. Find courses that have no students enrolled in them**

**83. Find the number of students from each country based on their enrollments.**

**84. Get the course popularity details by country i.e. find the course with the highest number of students in each country.**

**85. Find the top 5 bestselling paid courses**

**86. Find the bestselling course in each category**

**87. Calculate the number of free enrollments and paid enrollments**

**88. Find correlation between the number of videos and the completion_rate.**

**89. Find the correlation between number of Quizzes and average rating for each course**

**90. How many payment transactions failed using paypal**

**91. Get a summary of payment methods, including how many successful, failed or pending payments are there for each method.**

**92. Display the courses that were never refunded**

**93. Use box plot to plot distribution of completion rates by difficulty level.**

**94. Identify the course category with the most enrollments**

**95. Find the number of inactive users - users who have not logged in during the last 30 days.**

**96. What is the average price of courses in each category? (exclude the free courses)**

**97. How many courses are available with subtitles?**

**98. What percentage of courses offer certifications?**

**99. What is the average time gap between a user's registration date and their first enrollment date?**

**100. Get the email addresses and names of users who have signed up but have not enrolled in any course.**

**101. Find the customers who are refunding without any reason**

**102. Analyze monthly new user growth to understand monthly trends**

**103. Calculate and plot the cumulative user growth**

**104. Generate the monthly revenue report**

**105. Generate the annual revenue report**

**106. Analyze whether there are more purchases on weekdays or weekends**

**107. Which coupon code is used most frequently?  Visualize the distribution of coupon code usage**

**108. Analyze completion rates by country**